<?xml version="1.0" ?>
<robot name="shootingstar">
  <material name = "altgeld">
    <color rgba = "0.8666666667 0.203921568627451 0.011764705882353 1" />
  </material>

  <link name="shootingstar_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.25"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.25"/>
      </geometry>
      <material name="altgeld"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <sphere radius="0.25"/>
      </geometry>
    </collision>
  </link>
</robot>
